*{
    font-family: arial, sans-serif;
    font-size: 13px;
}

#nav-links{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding-left:10px;
}

.textlinks-div{
    display:flex;
    align-items:center;
    height:auto;
    margin-right:5px;
}

.textlinks-div a:link, .textlinks-div a:visited{ 
    color: black;
    text-decoration: none;
    opacity:.75;
}

.textlinks-div a:hover{
    text-decoration: underline;
}

.imagelinks-div{
    display:flex;
    align-items:center;
    margin-top: 5px;
}

#apps-icon{
    opacity: 0.6;
    padding:8px;
}

#apps-icon:hover{
    background-color:rgb(209, 209, 209);
    border-radius: 50%;
}

#avatar{
    padding:4px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#avatar:hover{
    background-color: rgb(209, 209, 209);
}

main{
    background-color: grey;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

#search-div{
    display:flex;
    margin-top:15px;

}

#search-icon {

}