*{
    font-family: arial, sans-serif;
    font-size: 13px;
}

#nav-links{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
    margin-top:-6px;
}

li {
    list-style: none;
    padding-left:10px;
}

.helplinks-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 19px;
    left: 0;
}

.textlinks-div{
    display:flex;
    align-items:center;
    margin-right:5px;
}

#nav-links a:link, #nav-links a:visited{ 
    color: black;
    text-decoration: none;
    opacity:.85;
}

#nav-links a:hover{
    text-decoration: underline;
}

.imagelinks-div{
    display:flex;
    align-items:center;
    margin-top: 5px;
}

#apps-icon{
    opacity: 0.65;
    padding:8px;
    border-radius: 50%;
}

#apps-icon:hover{
    background-color:rgb(228, 228, 228);
}

#avatar{
    padding:4px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#avatar:hover{
    background-color: rgb(228, 228, 228);
}

main{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 16rem;
}

#search-div{
    display:flex;
    margin-top:23px;
    min-width:350px;
    width: 60%;
    max-width:600px;
    justify-content: center;
    border-radius: 24px;
    border: 0.1px solid #ddd;
    outline:none;
}

.search-box{
    width:90%;
    min-width:280px;
    height: 40px;
    border:none;
    outline:none;
    font-size: 16px;
    color: rgba(0, 0, 0, .9)
}

#search-div:hover, #search-div:focus-within{
    border-color:white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    outline:none;
}

.search-icon{
    width: 24px;
    height: 24px;
    align-self:center;
    margin-left:15px;
}

.mike-icon{
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-right: 10px;
}

button{
    background: none;
    border: none;
}

button:hover{
    cursor: pointer;
    
}

.tooltip{
    position:relative;
    display:inline-block;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext{
    visibility:visible;
}

.language-div{
    margin-top: 16px;
}

.language-div a:link, .language-div a:visited{
    text-decoration: none;
    color: #1a0dab;
}

.footer{
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    border-top: 1px solid #ddd;
}

.leftfooter-div, .rightfooter-div{
    display:flex;
    margin-left: -15px;
    margin-right: 15px;
    padding: 15px;
}

.footerlinks {
    font-size: 14px;
    display:block;
    padding-left: 35px;
}

.footerlinks:link, .footerlinks:visited{
    text-decoration: none;
    color: #70757a;
}

.footerlinks:hover{
    text-decoration: underline;
}